<a href="https://colab.research.google.com/github/reckoning-machines/sec_text_nlp/blob/master/sec_nlp_beta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())
#https://medium.com/analytics-vidhya/colab-and-google-sheets-surprisingly-powerful-combination-for-data-science-part-1-bbbb11cbd8e

import pandas as pd

wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1_xcDVKjR2jqE-w5LqxIWnrDYstpSrE5nFSSY0WXNOVE/edit?usp=sharing')
sheet = wb.worksheet('section_data')
data = sheet.get_all_values()
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [4]:
df

0   X1             GICS Sector Symbol        mkt_cap
1    0  Communication Services   GOOG   877467271168
2    1  Communication Services     FB   541847748608
3    2  Consumer Discretionary   AMZN  1201554849792
4    3  Consumer Discretionary     HD   227906764800
5    4        Consumer Staples    WMT   366610350080
6    5        Consumer Staples     PG   294056525824
7    6                  Energy    XOM   184996691968
8    7                  Energy    CVX   162445934592
9    8              Financials    JPM   276351647744
10   9              Financials    BAC   192422363136
11  10             Health Care    JNJ   408265162752
12  11             Health Care    UNH   275975733248
13  12             Industrials    LMT   107061673984
14  13             Industrials    UNP   105915490304
15  14  Information Technology   MSFT  1327636021248
16  15  Information Technology   AAPL  1238129573888
17  16               Materials    LIN    96716251136
18  17               Materials    ECL    52073017344
19  18             Real Estate    AMT   108472795136
20  19             Real Estate    CCI    67350806528
21  20               Utilities    NEE   117317083136
22  21               Utilities      D    65296957440